services:
#    utn_usuario.example:
#        class: UTN\Bundle\UsuarioBundle\Example
#        arguments: ["@service_id", "plain_value", %parameter%]
    utn_usuario.admin.transferencia:
        class: UTN\Bundle\UsuarioBundle\Admin\TransferenciaAdmin
        arguments: [~, UTN\Bundle\UsuarioBundle\Entity\Transferencia, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: admin, label: Transferencia }
