<a href="{{ path('admin_utn_baja_bajainventario_list', {'id': object.idBaja,'filter[idBaja][value]': object.idBaja })  }}" class="btn btn-sm btn-default edit_link" title="{{ 'Ver Detalle'|trans({}, 'SonataAdminBundle') }}">
   <i class="glyphicon glyphicon-zoom-in"></i>
   {{ 'Ver Detalle'|trans({}, 'SonataAdminBundle') }}
</a>

