<a href="{{ path('admin_utn_retiros_retiro_retirobody_list', {'id': object.idRetiro,'filter[idRetiro][value]': object.idRetiro })  }}" class="btn btn-sm btn-default edit_link" title="{{ 'Ver Detalle'|trans({}, 'SonataAdminBundle') }}">
   <i class="glyphicon glyphicon-zoom-in"></i>
   {{ 'Ver Detalle'|trans({}, 'SonataAdminBundle') }}
</a>

